﻿<!-- Search bar -->
<div>
    <searchbar sga-search-service="ctrl.search"></searchbar>
    
    <!-- Results -->
    <div class="well">
        <table class="table table-hover tabela-pesquisa">
            <thead>
                <tr>
                    <th>Código da Ocorrência</th>
                    <th>Descrição</th>
                    <th>Última atualização</th>
                    <th>Programa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="incident in ctrl.search.results" ui-sref="incidents.id({id: incident.idincident})">
                    <td>{{incident.code}}</td>
                    <td>{{incident.description}}</td>
                    <td>{{incident.date | date: 'dd/MMM/yyyy'}}</td>
                    <td>{{incident.program}}</td>


                    <contrato sga-value="param.value"> </contrato>
                    <levantamento sga-idcontrato=""></levantamento>

                </tr>
            </tbody>
        </table>
    </div>
</div>