﻿

<form novalidate name="validation">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item1">
                    Titular do Acesso <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Prefixo (Uso interno):</label>
                        <div class="col-sm-10">
                            <sga-select sga-selected-value="ctrl.roadsideOccupation.idcontract" sga-items="ctrl.contracts" sga-text-field="name" sga-value-field="idcontract"></sga-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Código:</label>
                        <div class="col-sm-10">
                            <span class="sgaSelect" ng-hide="!ctrl.roadsideOccupation.code">{{ctrl.roadsideOccupation.code}}</span>
                            <span class="sgaSelect" ng-hide="!!ctrl.roadsideOccupation.code">O código será gerado automaticamente</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome/Razão Social:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="nomerazao" ng-model="ctrl.roadsideOccupation.occupant"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Endereço:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="address" ng-model="ctrl.roadsideOccupation.address"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cidade/UF:</label>
                        <div class="col-sm-10">
                            <sga-select sga-selected-value="ctrl.roadsideOccupation.idcity" sga-items="ctrl.cities" sga-text-field="name" sga-value-field="idterritorialunit" sga-empty-message="Carregando Municípios"></sga-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">CEP (somente números):</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="zipcode" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.zipCode" maxlength="8"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fone:</label>
                        <div class="col-sm-10">
                            <input class="dddphone form-control" name="dddphone" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.telephoneAreaCode" maxlength="3"></input>
                            <input class="phone form-control" name="phone" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.telephone" maxlength="9"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Celular:</label>
                        <div class="col-sm-10">
                            <input class="dddphone form-control" name="dddcell" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.cellPhoneAreaCode" maxlength="3"></input>
                            <input class="phone form-control" name="cell" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.cellPhone" maxlength="9"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fone Proprietário:</label>
                        <div class="col-sm-10">
                            <input class="dddphone form-control" name="ddphoneowner" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.telephoneOfOwnerAreaCode" maxlength="3"></input>
                            <input class="phone form-control" name="phoneowner" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.telephoneOfOwner" maxlength="9"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Folha:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="notarizationpage" ng-pattern="/^\d{0,9}(\.\d{0,9}\d{0,9})?$/" ng-model="ctrl.roadsideOccupation.notarizationPage"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Matrícula:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="notarizationregistrationnumber" ng-model="ctrl.roadsideOccupation.notarizationRegistrationNumber"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cartório:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="notarizedAt" ng-model="ctrl.roadsideOccupation.notarizedAt"></input>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item2">
                    Localização <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item2">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Rodovia:</label>
                                <div class="col-sm-8">
                                    <span class="label-value">BR-040</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Estaca:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="marker" class="form-control" ng-model="ctrl.roadsideOccupation.marker">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Km:</label>
                                <div class="col-sm-8">
                                    <input required name="km" type="number" class="form-control" id="inputText3" ng-model="ctrl.roadsideOccupation.positionStart" ng-change="ctrl.updateLocationFields()">
                                    <span class="help-inline" ng-show="validation.km.$error.required && (validation.$submitted || validation.km.$touched)">A indicação do KM é obrigatório</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Sentido:</label>
                                <div class="col-sm-8">
                                    <div class="radio-inline">
                                        <!--Radio buttons name="{{'dir' + $index}}" -->
                                        <div ng-repeat-start="d in  ctrl.directions" class="custom-radio">
                                            <input required type="radio" name="direction" id="{{'dir' + $index}}" ng-model="ctrl.roadsideOccupation.iddirection" ng-value="{{d.idDirection}}">
                                            <label for="{{'dir' + $index}}"></label>
                                        </div>
                                        <span ng-repeat-end class="custom-radio-label">{{d.name}}</span>

                                        <!--Radio buttons-->
                                    </div>
                                    <span class="help-inline" ng-show="validation.direction.$error.required && (validation.$submitted || validation.direction.$touched)">A indicação da direção é obrigatório</span>
                                    <span ng-show="!ctrl.directions">Local não encontrado ou fora do escopo do prefixo</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Local:</label>
                                <div class="col-sm-8">
                                    <sga-select sga-selected-value="ctrl.roadsideOccupation.idhighwaySection" sga-items="ctrl.highwaySections" sga-text-field="name" sga-value-field="idhighwaySection"></sga-select>
                                </div>
                            </div>


                            <!--<div class="form-group">
                                <label class="col-sm-4 control-label">Referência local:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputText4" ng-model="ctrl.roadsideOccupation.reference">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Coordenada(s) (Geográfico, SIRGAS 2000):</label>
                                <div class="col-sm-8">
                                    <coordinates sga-coordinates="ctrl.roadsideOccupation.position.points" sga-input-srid="ctrl.roadsideOccupation.position.srid" sga-change="ctrl.updateMap()" sga-markers="ctrl.mapMarkers"></coordinates>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <leaflet markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>
                                <!--<leaflet bounds="ctrl.bounds" center="ctrl.center" markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item3">
                    Dados Complementares <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item3">
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Faixa Ocupada:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="domainSituation" id="fd" ng-model="ctrl.roadsideOccupation.idroadsideOccupationDomainSituation" ng-value="1">
                                        <label for="fd"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Faixa de Domínio</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="domainSituation" id="fne" ng-model="ctrl.roadsideOccupation.idroadsideOccupationDomainSituation" ng-value="2">
                                        <label for="fne"></label>
                                    </div>
                                    <span class="custom-radio-label">Faixa Não Edificante</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="domainSituation" id="fdne" ng-model="ctrl.roadsideOccupation.idroadsideOccupationDomainSituation" ng-value="3">
                                        <label for="fdne"></label>
                                    </div>
                                    <span class="custom-radio-label">Faixa de Domínio e Não Edificante</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.domainSituation.$error.required && (validation.$submitted || validation.domainSituation.$touched)">A indicação da Faixa Ocupada é obrigatório</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ocupação:</label>
                        <div class="col-sm-10">

                            <!--Select -->
                            <ol class="nya-bs-select" size="20" ng-model="ctrl.roadsideOccupation.landUses" data-live-search="true" required="" name="landUses" multiple>
                                <li nya-bs-option="p in ctrl.landUses track by p.idlandUse" data-value="p.idlandUse">
                                    <a>
                                        {{ p.name }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                            <span class="help-inline" ng-show="validation.landUses.$error.required && (validation.$submitted || validation.landUses.$touched)">A escolha de um ou mais tipos de ocupação é obrigatório</span>


                            <!--Select -->

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Zona:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="zone" id="zoneRural" ng-model="ctrl.roadsideOccupation.idzone" ng-value="1">
                                        <label for="zoneRural"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Rural</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="zone" id="zoneUrban" ng-model="ctrl.roadsideOccupation.idzone" ng-value="2">
                                        <label for="zoneUrban"></label>
                                    </div>
                                    <span class="custom-radio-label">Urbana</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.zone.$error.required && (validation.$submitted || validation.zone.$touched)">A indicação da Zona é obrigatório</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Situação:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="regular" id="sitOk" ng-model="ctrl.roadsideOccupation.illegal" ng-value="false">
                                        <label for="sitOk"></label>
                                    </div>
                                    <span class="custom-radio-label">Regular</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="regular" id="sitNotOk" ng-model="ctrl.roadsideOccupation.illegal" ng-value="true">
                                        <label for="sitNotOk"></label>
                                    </div>
                                    <span class="custom-radio-label">Irregular</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.regular.$error.required && (validation.$submitted || validation.regular.$touched)">A indicação da Situação é obrigatório</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo Ocupação:</label>
                        <div class="col-sm-10">

                            <!--Select -->
                            <ol class="nya-bs-select" size="20" ng-model="ctrl.roadsideOccupation.roadObjects" data-live-search="true" required="" name="roadObjects" multiple>
                                <li nya-bs-option="p in ctrl.roadObjects track by p.idroadsideObject" data-value="p.idroadsideObject">
                                    <a>
                                        {{ p.name }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                            <span class="help-inline" ng-show="validation.roadObjects.$error.required && (validation.$submitted || validation.roadObjects.$touched)">A escolha de um ou mais tipos de revistimento é obrigatório</span>


                            <!--Select -->

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Características da Ocupação:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="characteristics" id="charT" ng-model="ctrl.roadsideOccupation.idroadsideOccupationOrientation" ng-value="1">
                                        <label for="charT"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Transversal</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="characteristics" id="charL" ng-model="ctrl.roadsideOccupation.idroadsideOccupationOrientation" ng-value="2">
                                        <label for="charL"></label>
                                    </div>
                                    <span class="custom-radio-label">Longitudinal</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="characteristics" id="charP" ng-model="ctrl.roadsideOccupation.idroadsideOccupationOrientation" ng-value="3">
                                        <label for="charP"></label>
                                    </div>
                                    <span class="custom-radio-label">Pontual</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.characteristics.$error.required && (validation.$submitted || validation.characteristics.$touched)">A indicação da Faixa Ocupada é obrigatório</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item4">
                    Dados Cadastrais <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item4">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Extensão da Faixa de Domínio (m):</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="domainExtent" ng-model="ctrl.roadsideOccupation.domainExtent"></input>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Extensão da Faixa Não Edificável (m):</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="bufferExtent" ng-model="ctrl.roadsideOccupation.bufferExtent"></input>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Área da Faixa de Domínio Ocupada (m²):</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="domainExtent" ng-model="ctrl.roadsideOccupation.domainArea"></input>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Área da Faixa Não Edificável Ocupada (m²):</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="domainExtent" ng-model="ctrl.roadsideOccupation.bufferArea"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item5">
                    Observações <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item5">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Observações:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="remarks" ng-model="ctrl.roadsideOccupation.remarks" rows="5"></textarea>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item6">
                    Sócio-Econômico <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item6">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo da Construção da Ocupação:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="consType" id="consMad" ng-model="ctrl.roadsideOccupation.idconstructionType" ng-value="1">
                                        <label for="consMad"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Construção em Madeira</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="consType" id="consMas" ng-model="ctrl.roadsideOccupation.idconstructionType" ng-value="2">
                                        <label for="consMas"></label>
                                    </div>
                                    <span class="custom-radio-label">Construção em Alvenaria</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="consType" id="consMet" ng-model="ctrl.roadsideOccupation.idconstructionType" ng-value="3">
                                        <label for="consMet"></label>
                                    </div>
                                    <span class="custom-radio-label">Construção Metálica</span>

                                    <div class="custom-radio">
                                        <input required type="radio" name="consType " id="consMix" ng-model="ctrl.roadsideOccupation.idconstructionType" ng-value="4">
                                        <label for="consMix"></label>
                                    </div>
                                    <span class="custom-radio-label">Construção Mista</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.consMix.$error.required && (validation.$submitted || validation.consMix.$touched)">A indicação do Tipo da Construção da Ocupação é obrigatório</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Características da Ocupação:</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">

                                <!--Radio buttons-->
                                <div>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueER" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="1">
                                        <label for="ueER"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Exclusivamente Residencial</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueEI" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="2">
                                        <label for="ueEI"></label>
                                    </div>
                                    <span class="custom-radio-label">Exclusivamente Industrial</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueEC" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="3">
                                        <label for="ueEC"></label>
                                    </div>
                                    <span class="custom-radio-label">Exclusivamente Comercial</span>

                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueRC" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="4">
                                        <label for="ueRC"></label>
                                    </div>
                                    <span ng-repeat-end class="custom-radio-label">Residencial e Comercial</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueRI" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="5">
                                        <label for="ueRI"></label>
                                    </div>
                                    <span class="custom-radio-label">Residencial e  Industrial</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueA" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="6">
                                        <label for="ueA"></label>
                                    </div>
                                    <span class="custom-radio-label">Agropecuário</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueP" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="7">
                                        <label for="ueP"></label>
                                    </div>
                                    <span class="custom-radio-label">Pública</span>
                                    <div class="custom-radio">
                                        <input required type="radio" name="economicalUse" id="ueO" ng-model="ctrl.roadsideOccupation.ideconomicalUse" ng-value="8">
                                        <label for="ueO"></label>
                                    </div>
                                    <span class="custom-radio-label">Outros</span>
                                </div>
                                <!--Radio buttons-->

                            </div>
                            <span class="help-inline" ng-show="validation.economicalUse.$error.required && (validation.$submitted || validation.economicalUse.$touched)">A indicação da Condição de Utilização é obrigatório</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ui-view>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item4">
                    Processo Judicial<i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item8">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Número do Processo:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="judicialProcessNumber" ng-model="ctrl.roadsideOccupation.judicialProcessNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Região:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="judicialRegion" ng-model="ctrl.roadsideOccupation.judicialRegion" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vara:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="judicialCourt" ng-model="ctrl.roadsideOccupation.judicialCourt" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Data de Distribuição:</label>
                        <div class="col-sm-10">
                            <input style="width: 153px; float: left" name="judicialProcessDistributionDate" type="text" class="form-control" show-weeks="ctrl.showWeeks"
                                   ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   datetime="dd/MM/yyyy" ng-model="ctrl.roadsideOccupation.judicialProcessDistributionDate" is-open="ctrl.judicialProcessDistributionDateIsOpen.isOpen" close-text="Fechar" ng-required="" />
                            <span style="width:20px" class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar(ctrl.judicialProcessDistributionDateIsOpen)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item5">
                    Fotos <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item5">
            <div class="panel-body">
                <photo-list sga-photos="ctrl.roadsideOccupation.photos" sga-add="true"></photo-list>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item5">
                    Ações <i class="fa fa-caret-up"></i>
                </a>
            </h4>
        </div>
        <div class="panel-collapse in" id="item5">
            <div class="panel-body">
                <!-- Button trigger modal -->
                <a ng-click="ctrl.addInspection()" class="btn-add" data-tooltip="tooltip" data-placement="right" title="Adicionar nova ação"><i class="fa fa-plus"></i> Adicionar Nova Ação</a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th style="width:250px">DATA</th>
                                <th>DESCRIÇÃO</th>
                                <th>RESUMO</th>
                                <th>NOTIFICAÇÃO</th>
                                <th>STATUS PROC.</th>
                                <th>DESOCUPADO?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="inspection in ctrl.roadsideOccupation.actions">
                                <td style="width: 250px">
                                    <input style="width: 153px; float: left" name="{{'date' + $index}}" type="text" class="form-control" show-weeks="ctrl.showWeeks" ng-change="ctrl.markInspectionAsChanged(inspection)"
                                           ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           datetime="dd/MM/yyyy" ng-model="inspection.performedOn" is-open="inspection.isOpen" close-text="Fechar" ng-required="" />
                                    <span style="width:20px" class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar(inspection)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </td>
                                <td><input class="form-control" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.description"> </td>
                                <td><input class="form-control" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.resume"> </td>
                                <td>
                                  <sga-select sga-change="ctrl.markInspectionAsChanged(inspection)" sga-selected-value="inspection.idnotificationType" sga-items="ctrl.notificationTypeLookup" sga-text-field="name" sga-value-field="idnotificationType"></sga-select>
                                </td>
                                <td>
                                    <!--<input class="form-control" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.idstatusJudicialProcess">-->
                                    <sga-select sga-change="ctrl.markInspectionAsChanged(inspection)" sga-selected-value="inspection.idjudicialProcessStatus" sga-items="ctrl.judicialProcessStatusLookup" sga-text-field="name" sga-value-field="idjudicialProcessStatus"></sga-select>
                                </td>
                                <td><input type="checkbox" class="form-control" ng-change="ctrl.markInspectionAsChanged(inspection)" ng-model="inspection.deocupated"> </td>

                                <td class="table-controls">
                                    <span style="color: red;font-weight: bold" ng-show="inspection.state == 'Deleted'">Ação será removida</span>
                                    <a href="#" data-toggle="tooltip" ng-show="inspection.state != 'Deleted'" data-placement="bottom" ng-click="ctrl.deleteInspection(inspection)" title="Apagar"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <dialog-confirm title-temp="Salvar" text-temp="Você deseja salvar ?" delete-temp="true" sga-save="ctrl.save()" sga-delete="ctrl.delete()"></dialog-confirm>   

</form>

