﻿<form name="form">
    <div class=" form-group">
        <label class="control-label">{{ctrl.parameter.description}}</label>
        <div>
            <p class="input-group col-sm-4">
                <input name="date" type="text" class="form-control"
                       ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/"
                       uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-weeks="ctrl.showWeeks"
                       datetime="dd/MM/yyyy" ng-model="ctrl.parameter.value" is-open="ctrl.popup.opened" close-text="Close" ng-required="ctrl.parameter.required" placeholder="dd/MM/yyyy" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.open()">
                        <i id="calendario" class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</form>
