﻿<!--NOVO-->
<div class="panel panel-default">
    <!--CABEÇALHO-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#item1">
                Relatório <i class="fa fa-caret-up"></i>
            </a>
        </h4>
    </div>
    <!--CODIGO-->
    <div class="panel-collapse in">
        <div class="panel-body">
            <div class="form-horizontal">
                <label class="col-sm-2 control-label">Prefixo</label>
                <div class="col-sm-6">
                    <ol class="nya-bs-select" size="20" ng-model="ctrl.contrato" ng-change="ctrl.busca()" data-live-search="true">
                        <li nya-bs-option="group in ctrl.prefix" data-value="group.id">
                            <a>{{group.name}}</a>
                        </li>
                    </ol>
                </div>
                <br />
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal col-sm-12">
                <div class="form-horizontal col-sm-5">
                    <form name="form">
                        <div class="list-group  col-sm-6 ">
                            <div class="list-group" ng-repeat="list in ctrl.reportgroups">
                                <h2 style="margin-top:0px">{{list.groupName}}</h2>
                                <div class="list-group" ng-repeat="rep in list.reports">
                                    <button type="button" class="list-group-item-report" ng-class="{permanent: rep === ctrl.currentreport}" style="width:450px;height:35px" ng-click="ctrl.currentreport=rep">
                                        {{rep.name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6" ng-show="!!ctrl.currentreport">
                    <div class="reportdownload col-sm-6">
                        <div ng-repeat="p in ctrl.currentreport.parameters">
                            <div ng-if="p.dataType">
                                <div ng-switch="p.dataType">
                                    <div ng-switch-when="Integer">
                                        <reportinteger parameter="p"></reportinteger>
                                    </div>
                                    <div ng-switch-when="DateTime" class="calendario">
                                        <reportdate parameter="p"></reportdate>
                                    </div>
                                    <div ng-switch-when="Boolean">
                                        <reportboolean parameter="p"></reportboolean>
                                    </div>
                                    <div ng-switch-when="String">
                                        <reportstring parameter="p"></reportstring>
                                    </div>
                                </div>
                            </div>
                        </div>
                  

                        <div>
                            <h4 id="download">Clique no ícone para fazer o download</h4>
                        </div>
                        <label>
                            Download:

                            <a href="#">
                                <img ng-click="ctrl.pdf(ctrl.currentreport)" ng-show="ctrl.currentreport.outputPDF" src="/assets/imgs/pdf-logo.png" width=25 height=25 align="middle">
                            </a>
                            <a href="#">
                                <img ng-click="ctrl.excel(ctrl.currentreport)" ng-show="ctrl.currentreport.outputExcel" src="/assets/imgs/excel-logo.png" width=25 height=25 align="middle">
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
