﻿<div>
    <ol class="nya-bs-select col-sm-2" ng-model="ctrl.currentType">
        <li nya-bs-option="option in ctrl.coordinateTypes track by option.id" data-value="option.id">
            <a>
                {{option.name}}
            </a>
        </li>
    </ol>

  
    <div class="radio-inline">
        <div class="custom-radio">
            <input type="radio" name="coordinateDatum" id="optDatumSirgas" autocomplete="off" ng-model="ctrl.currentDatum" ng-value="0">
            <label for="optDatumSirgas"></label>
        </div>
        <span  class="custom-radio-label">SIRGAS 2000</span>
        <div class="custom-radio">
            <input type="radio" name="coordinateDatum" id="optDatumWGS" autocomplete="off" ng-model="ctrl.currentDatum" ng-value="1">
            <label for="optDatumWGS"></label>
        </div>
        <span  class="custom-radio-label">WGS84</span>
        <div class="custom-radio">
            <input type="radio" name="coordinateDatum" id="optDatumSAD" autocomplete="off" ng-model="ctrl.currentDatum" ng-value="2">
            <label for="optDatumSAD"></label>
        </div>
        <span  class="custom-radio-label">SAD69</span>
    </div>
    <div ng-repeat="coord in ctrl.sgaCoordinates" class="row">
        <div class="col-sm-12">
            <i class="fa fa-remove keep-space" ng-click="ctrl.deleteCoordinate($index)" ng-hide="ctrl.sgaCoordinates.length==0"></i>
            Lat: <input type="number" required style="margin-left: 5px; margin-right: 5px; width: auto; display: inline" class="form-control" id="inputText4" ng-model="coord.lat" ng-change="ctrl.updateCoordinate(coord, $index)">
            Long:<input type="number" required style="width: auto; display: inline; margin-left: 5px;" class="form-control" id="inputText4" ng-model="coord.lng" ng-change="ctrl.updateCoordinate(coord, $index)">
        </div>
    </div>
    <div class="clickable" ng-click="ctrl.addCoordinate()">
        <i class="fa fa-plus-circle" style="margin-top: 0px; font-size: 2em; margin-right: 10px"></i>
        <div style="height: 40px; vertical-align: middle; display: inline-block;">Adicionar Coordenada</div>
    </div>
</div>