﻿<div class="panel panel-default">
    <div class="col-md-push-2 panel-collapse in" id="navwrap">
        <div class="panel-body menu-markers" id="menu-padding">
            <div class="form-group col-md-10" ng-repeat="p in ctrl.markerInf.displayMembers">
                <label>{{p.displayName}}:</label>
                <span ng-if="p.type !== 'datetime' && p.type !== 'geometric'">{{ctrl.markerInf[p.propertyName]}}</span>
                <span ng-if="p.type === 'geometric'">
                    Longitude: {{ctrl.markerInf[p.propertyName].lng}}
                    Latitide: {{ctrl.markerInf[p.propertyName].lat}}
                </span>
                <span ng-if="p.type === 'datetime'">{{ctrl.markerInf[p.propertyName] |amDateFormat: 'DD/MM/YYYY HH:mm'}}</span>
            </div>
        </div>
    </div>
    <photo-list sga-photos="ctrl.markerInf.photos" sga-add="false"></photo-list>
</div>