﻿<div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Km:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputText3" ng-model="ctrl.incident.positionStart" ng-change="ctrl.updateWorkSitesAndDirections()">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Local:</label>
        <div class="col-sm-8">
            <div ng-show="ctrl.worksites && ctrl.worksites.length > 1">
                <ol class="nya-bs-select" ng-model="ctrl.incident.idhighwayWorkSite" data-live-search="true">
                    <li nya-bs-option="ws in ctrl.worksites track by ws.idhighwayWorkSite" data-value="ws.idhighwayWorkSite">
                        <a>
                            {{ ws.name }}
                        </a>
                    </li>
                </ol>
            </div>
            <span ng-show="ctrl.worksites && ctrl.worksites.length == 1">{{ctrl.worksites[0].name}}</span>
            <span ng-show="!ctrl.incident.positionStart">Informe o KM antes</span>
            <span ng-show="ctrl.incident.positionStart && (!ctrl.worksites || ctrl.worksites.length == 0)">Nenhum local encontrado</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Sentido:</label>
        <div class="col-sm-8">
            <div class="radio-inline">
                <!--Radio buttons-->
                <div ng-repeat-start="d in ctrl.directions" class="custom-radio">
                    <input type="radio" name="{{'dir' + $index}}" id="{{'dir' + $index}}" ng-model="ctrl.incident.iddirection" ng-value="{{d.idDirection}}">
                    <label for="{{'dir' + $index}}"></label>
                </div>
                <span ng-repeat-end class="custom-radio-label">{{d.name}}</span>
                <!--Radio buttons-->
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Lado:</label>
        <div class="col-sm-8">
            <div class="radio-inline">

                <!--Radio buttons-->
                <div>
                    <div ng-repeat-start="rs in ctrl.roadsides" start="rs in ctrl.roadsides" class="custom-radio">
                        <input type="radio" name="{{'rs' + $index}}" id="{{'rs' + $index}}" ng-model="ctrl.incident.idroadSide" ng-value="{{rs.idRoadSide}}">
                        <label for="{{'rs' + $index}}"></label>
                    </div>
                    <span ng-repeat-end class="custom-radio-label">{{rs.name}}</span>
                </div>
                <!--Radio buttons-->

            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Referência local:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="inputText4" ng-model="ctrl.incident.reference">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Coordenada(s) (UTM Fuso 23):</label>
        <div class="col-sm-8">
            <coordinates sga-coordinates="ctrl.incident.coordinate.points" sga-change="ctrl.updateMap()" sga-markers="ctrl.mapMarkers"></coordinates>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="form-group">
            <leaflet markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>
            <!--<leaflet bounds="ctrl.bounds" center="ctrl.center" markers="ctrl.mapMarkers" zoom="14" height="450px" width="95%"></leaflet>-->
        </div>
    </div>
</div>>