﻿<div class="panel panel-default">
    <div class="col-md-9">
        <leaflet center="ctrl.map.center" width="100%" height="800" markers="ctrl.markersMap" ng-click=""> </leaflet>
    </div>
    <div class="col-md-push-2 panel-collapse in" id="navwrap">
        <aside>
            <div class="panel-body" ng-repeat="p in ctrl.ponto">
                <photo-list sga-photos="p.photos" sga-add="false"></photo-list>

                <section class="scroll-markers">
                    <!--<div class="form-group" ng-repeat="(key, value) in ctrl.ponto[0].displayMembers">
                        <div ng-if="key !== 'position' && key !== 'photos'">
                            <label class="control-label">{{key}}:</label>
                            <span>{{value}}</span>
                        </div>
                    </div>-->
                    <!--<div class="form-group" id="item1" ng-repeat="p in ctrl.ponto[0].displayMembers">
                        <div ng-if="p.displayName === 'Descrição' || p.displayName === 'Codigo' ">
                            <label class="control-label">{{p.displayName}}:</label>
                            <div ng-repeat="(key, value) in ctrl.ponto[0]">
                                <span ng-show="p.propertyName === key">{{value}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a ui-sref="app.protectedareaid({id: ctrl.ponto[0].id})">
                            Mais informações
                        </a>
                    </div>-->
                    <div ng-repeat="p in ctrl.protect">
                        {{p}}
                    </div>
                </section>
            </div>
        </aside>
    </div>
</div>