﻿<div class="col-lg-3">
    <div class="well">
        <abn-tree tree-data="ctrl.nodes" tree-control="ctrl.my_tree" on-select="ctrl.my_tree_handler(branch)" expand-level="4"></abn-tree>
    </div>
</div>
<div class="col-lg-9">
    <div class="well" ng-show="ctrl.output">{{ ctrl.output }}</div>
</div>
