﻿
<div>
    <form name="validation">
        <!--ng-hide="ctrl.isLoggedIn()"-->

        <h1>Login </h1>
        
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="usuário (email)"
                   ng-model="ctrl.userData.email">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="senha"
                   ng-model="ctrl.userData.password">
        </div>
       
        <button type="submit"
                class="btn btn-default"
                ng-click="validation.$valid && ctrl.login()">
            Login
        </button>        
    </form>

    <br />
   
    <div ng-hide="ctrl.isLoggedIn()" ng-show="ctrl.message" >
        
    </div>
   
</div>
