﻿<div class="panel panel-default">
    <div class="panel-collapse in" id="item1">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Organização:</label>
                    <div class="col-sm-10">                        
                        <div ng-repeat="org in ctrl.organization">                            
                            <a ng-if="ctrl.user.person.idorganization == org.idorganization">{{org.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" ng-model="ctrl.user.person.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="mail" placeholder="Digite o E-mail" ng-model="ctrl.user.email" required />

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Senha:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,10}" placeholder="Digite a Senha" ng-model="ctrl.user.password" required />

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Telefone:</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" maxlength="15" name="phone" pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4,5}$" placeholder="Digite o Telefone" ng-model="ctrl.user.person.tel" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Celular:</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" maxlength="15" name="phone" pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4,5}$" placeholder="Digite o Telefone" ng-model="ctrl.user.person.cell" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-heading">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#item2">Permissões do Usuário</a>
            </h4>

        </div>
        <div class="panel-collapse in" id="item3">
            <div class="panel-body">
                <a ng-click="ctrl.addRole()" class="btn-add" data-tooltip="tooltip" data-placement="right" title="Adicionar nova Permissão"><i class="fa fa-plus"></i>Adicionar Permissão</a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>PERMISSÃO</th>
                                <th>ADMINISTRADOR</th>
                                <th>CONTRATOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="userRole in ctrl.user.userRoles">
                                <td>
                                    <ol class="nya-bs-select" size="20" ng-model="userRole.idrole" data-live-search="true">
                                        <li nya-bs-option="role in ctrl.listroles group by role.moduleName" data-value="role.idrole" title="{{role.moduleName + ' - ' + role.name }}">
                                            <span class="dropdown-header">{{$group}}</span>
                                            <a>
                                                {{role.name}}
                                            </a>
                                        </li>
                                    </ol>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="userRole.isAdmin">
                                    <label>Perfil Administrador</label>
                                </td>
                                <td>
                                    <tags-input add-from-autocomplete-only="true" ng-model="userRole.contracts" placeholder=" digite aqui..." display-property="prefix" ng-disabled="userRole.isAdmin">
                                        <auto-complete min-length=" 0" source="ctrl.listcontract($query)">
                                        </auto-complete>
                                    </tags-input>
                                </td>
                                <td class="table-controls">
                                    <span style="color: red;font-weight: bold" ng-show="userRole.state == 'Deleted'">Ação será removida</span>
                                    <a href="#" data-toggle="tooltip" ng-show="userRole.state != 'Deleted'" data-placement="bottom" ng-click="ctrl.deleterole(userRole)" title="Apagar"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>
                                    <span style="color: red;font-weight: bold" ng-show="userRole.state == 'Modified'">O Campo será editado</span>
                                    <a href="#" data-toggle="modal" data-tooltip="tooltip" data-placement="bottom" title="Editar" ng-click="ctrl.changerole(userRole)"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="form-group">
        <dialog-confirm title-temp="Salvar" text-temp="Você deseja salvar ?" delete-temp="true" sga-save="ctrl.saveAlter()" sga-delete="ctrl.delete(ctrl.user.idperson)"></dialog-confirm>
    </div>
</div>

