﻿<div class="form-group">
    <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center" id="popupContainer">
        <md-button class="dialogButton md-raised" ng-click="ctrl.backPage()">
            Voltar
        </md-button>
        <md-button class="dialogButton md-raised" ng-click="ctrl.showDelete($event)" ng-show="ctrl.delete == 'true'">
            Apagar
        </md-button>
        <md-button class="dialogButton md-raised" ng-click="ctrl.showConfirm($event)">
            Salvar
        </md-button>
    </div>
</div>