﻿<div ng-repeat="message in ctrl.msg" class="content-wrapper">
    <div ng-switch="message.type">
        <div ng-switch-when="Success">
            <div class="alert alert-success">
                <strong>{{message.type}} </strong>{{message.text}}
            </div>
        </div>
        <div ng-switch-when="Error">
            <div class="alert alert-danger">
                <a href="#" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.delete()" title="Remover"><i class="fa_new fa fa-times-circle"></i></a>
                <strong>{{message.type}} </strong>{{message.text}}
            </div>
        </div>
        <div ng-switch-when="Warning">
            <div class="alert alert-warning">
                <a href="#" data-toggle="tooltip" data-placement="bottom" ng-click="ctrl.delete()" title="Remover"><i class="fa_new fa fa-times-circle"></i></a>
                <strong>{{message.type}} </strong>{{message.text}}
            </div>
        </div>
    </div>
</div>


