﻿<div class="col-sm-12">
    <div class="well">
        <label class="col-sm-1">Prefixo</label>
        <ol class="nya-bs-select" size="20" ng-model="ctrl.contrato" ng-change="ctrl.busca()" data-live-search="true" style="left:-60px;">
            <li nya-bs-option="group in ctrl.prefix" data-value="group.id">
                <a>{{group.name}}</a>
            </li>
        </ol>
    </div>
</div>
<div class="col-sm-3">
    <div class="well">
        <abn-tree tree-data="ctrl.nodes" tree-control="ctrl.my_tree" on-select="ctrl.my_tree_handler(branch)" expand-level="4"></abn-tree>
    </div>
</div>
<div class="col-sm-9">
    <div class="well">
        <div ui-view="details"></div>
    </div>
</div>
